<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.9.0/build/styles/atom-one-light.min.css">
<link rel="stylesheet" href="{{ '/stylesheets/main.css' | url }}">
<link rel="icon" href="/img/pallets.png">
<title>
    {% if page.url == "/" %}Pallets{% else %}{{ title}} - Pallets{% endif %}
</title>