<section style="display: grid; grid-template-columns: repeat(4, 1fr); gap: var(--pico-spacing);">
    <p>
        <img src="../img/flask.png" style="height: 3em;">
        <a href="/projects/flask/">Flask</a>
    </p>
</section>