footer {
    border-top: 1px solid var(--pico-muted-border-color);
    font-size: 0.75rem;
    align-items: start;
  }
  
  footer ul {
    display: grid;
  }
  
    footer ul li {
    list-style-type: none;
    }