<nav>
    <ul>
      <li><a href="/" class="logo"><img src="/img/pallets.png" alt="Tje Pallets Projects Logo being displayed in the header."></a></li>
      <li><a href="/" class="contrast"><strong>Pallets</strong></a></li>
    </ul>
    <ul>
      <li><a href="/projects/">Projects</a></li>
      <li><a href="/about/about-us/">About</a></li>
      <li><a href="/ecosystem">Ecosystem</a></li>
      <li><a href="/blog/">Blog</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
</nav>