<!DOCTYPE html>
<html data-theme="light" lang="en">

<head>
    {% include "partials/head.liquid" %}
</head>

<header class="container">
    {% include "components/navbar.liquid" %}
</header>

<body>
    {% include "partials/content.liquid" %}
    {% include "components/footer.liquid" %}
    {% include "partials/scripts.liquid" %}
</body>

</html>